body{
    background: url("../img/bg3.jpg");
    background-size: cover;
}

.row {
    border-style: none;
}

.heading {
    margin-bottom: 50px;
    margin-top: 50px;
}

.success-message{
    color: green;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bg-img{
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.48);
}

